$black: #000;
$black-900: #2d2d2d;
$black-700: #555;
$black-600: #808080;
$black-500: #aaa;
$black-200: #cacbcc;
$black-100: #eaebec;
$white: #fff;

$brand-a: #f78888;
$brand-b: #f3d250;
$brand-c: #ececec;
$brand-d: #90ccf4;
$brand-e: #5da2d5;

$success: #c6f1c6;
$error: $brand-a;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$header-font: "Merriweather", "Times New Roman", Times, serif;

$body-font: "Montserrat", arial, sans-serif;
