@import "../styles/variables";
@import "../styles/mixins";

.guess-form {
  display: flex;
  margin-bottom: calcRem(16px);
  margin-top: calcRem(16px);

  .input-box {
    display: block;
    flex-grow: 1;

    @include inputBox();
  }
}

.give-up-button {
  @include button($brand-a, $white);
}
